.c-article {
    border: 1px solid lightgrey;
    margin: 20px 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
    display: block;
    text-decoration: none;

    @media only screen and (min-width: $screen-sm) {
        width: calc(50% - 40px);
        position: relative;
        padding-bottom: 30px;
    }

    @media only screen and (min-width: $screen-lg) {
        width: calc(33% - 30px);
        position: relative;
        padding-bottom: 30px;
    }

    &:first-of-type {
        @media only screen and (min-width: $screen-sm) {
            width: 100%;
            
            img {
                height: auto;
            }
        }

        @media only screen and (min-width: $screen-lg) {
            width: calc(66% - 30px);

            img {
                height: 500px;
                object-fit: cover;
                object-position: top;
            }
        }
    }

    &__img {
        width: 100%;

        @media only screen and (min-width: $screen-sm) {
            height: 200px;
            object-fit: cover;
        }

        @media only screen and (min-width: $screen-md) {
            height: 250px;
            object-fit: cover;
        }

        @media only screen and (min-width: $screen-lg) {
            height: 300px;
            object-fit: fill;
            object-position: top;
        }
    }

    &-card {
        padding: 15px 10px;

        &__title {
            font-size: $font-large;
            margin-top: 0;
            display: flex;
            flex-direction: column;
            height:100%;
            color: $black;
        }

        &__publishedAt {
            color: $red;
        }
    }
}
