//colours
$black: #000000;
$white: #FFFFFF;

//media query values
$screen-xs: 576px;
$screen-sm: 769px;
$screen-lg: 992px;
$screen-xl: 1200px;

//font sizes
$font-base: 16px;
$font-large: 20px;
$font-xl: 36px;
