//colours
$black: #000000;
$white: #FFFFFF;
$red: #D60000;

//media query values
$screen-sm: 576px;
$screen-md: 769px;
$screen-lg: 992px;
$screen-xl: 1200px;

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

//font sizes
$font-base: 16px;
$font-large: 20px;
$font-xl: 36px;
